pkgbase = pipedeck
	pkgdesc = PipeWire mixer for Linux streamers, in the spirit of Elgato Wave Link
	pkgver = 0.1.2
	pkgrel = 1
	url = https://pipedeck.2c2t.dev
	arch = x86_64
	license = MIT
	checkdepends = dbus
	makedepends = cargo
	makedepends = clang
	depends = cairo
	depends = glib2
	depends = glibc
	depends = graphene
	depends = gtk4
	depends = libadwaita
	depends = libgcc
	depends = libpipewire
	depends = pango
	depends = pipewire
	depends = pipewire-session-manager
	optdepends = opendeck: Stream Deck keys and dials through OpenDeck
	optdepends = git: building the plugin that splits Discord calls in Vesktop
	optdepends = npm: building the plugin that splits Discord calls in Vesktop
	options = !lto
	source = pipedeck-0.1.2.tar.gz::https://github.com/2c2t-dev/PipeDeck/archive/refs/tags/v0.1.2.tar.gz
	sha256sums = 3cd077157693d281eac07ab870fc9bc52196f66860e9b1640de22ec82d38f650

pkgname = pipedeck
